.light {
  border-radius: .8rem;
  min-height: 4rem;
  list-style: none;
  margin: 1rem;
}

.link {
  color:white;
  display: block;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.blue {
  background-color: green;
}

.blue-anime {
  background-color: blue;
}

.red {
  background-color: red;
}

.red-anime {
  background-color: purple;
}

.grey {
  background-color: grey;
}

html {
  background-color: #2C2C2C;
  color: white;
  text-align:center;
}
