.light {
  align-content: center;
  align-items: center;
  border-radius: .8rem;
  color: white;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-around;
  list-style: none;
  margin: .2rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.light-stat {
  bottom: -1rem;
  font-size: 1.2rem;
  opacity: .3;
  position: relative;
}

.build-duration {
  bottom: 0;
  position: absolute;
  right: .3rem;
}

.build-number {
  bottom: 0;
  left: .3rem;
  position: absolute;
}

.build-number:hover {
  text-decoration: underline;
}

.build-culprits {
  font-size: .7rem;
  font-weight: normal;
  overflow: hidden;
}

.build-name {
  font-size: 2rem;
  margin: 0 auto;
}

.build-name:hover {
  text-decoration: underline;
}

.blue {
  background-color: darkgreen;
}

.blue_anime {
  /* Standard syntax */
  animation: animate_green 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  -webkit-animation: animate_green 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}

.red {
  background-color: darkred;
}

.red_anime {
  /* Standard syntax */
  animation: animate_red 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  -webkit-animation: animate_red 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}

.aborted {
  background-color: grey;
}

.aborted_anime {
  /* Standard syntax */
  animation: animate_grey 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  -webkit-animation: animate_grey 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animate_red {
  from {background-color: red;}
  to {background: darkred;}
}

@-webkit-keyframes animate_green {
  from {background-color: limegreen;}
  to {background: darkgreen;}
}

@-webkit-keyframes animate_grey {
  from {background-color: lightgrey;}
  to {background: grey;}
}

/* Standard syntax */
@keyframes animate_red {
  from {background-color: red;}
  to {background-color: darkred;}
}

@keyframes animate_green {
  from {background-color: limegreen;}
  to {background-color: darkgreen;}
}

@keyframes animate_grey {
  from {background-color: lightgrey;}
  to {background-color: grey;}
}

.grey {
  background-color: grey;
}

html {
  background-color: #2C2C2C;
  color: white;
  font-family: 'Open Sans', Verdana, Helvetica;
  height: 100%;
  line-height: 1.4;
  text-align:center;
}

body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  position: absolute;
  width: 100%;
}

.header {
  height: 4%;
  min-height: 2rem;
}

.light-grid {
  /* height: 100%; */
  display: flex;
  flex-basis: 0%;
  flex-direction: row;
  flex-grow: 88;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
}

.oneColumn {
  -webkit-flex: 1 98%;
  flex: 1 98%;
}

.twoColumn {
  -webkit-flex: 1 48%;
  flex: 1 48%;
}

.threeColumn {
  -webkit-flex: 1 30%;
  flex: 1 30%;
}

.fourColumn {
  -webkit-flex: 1 23%;
  flex: 1 23%;
}

.fiveColumn {
  -webkit-flex: 1 18%;
  flex: 1 18%;  
}
