.light {
  border-radius: .8rem;
  color:white;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  list-style: none;
  margin: .15rem;
  min-height: 4rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.light-stat {
  bottom: -1rem;
  font-size: 1.2rem;
  opacity: .3;
  position: relative;
}

.build-duration {
  float: right;
}

.build-number {
  float: left;
}

.build-culprits {
  bottom: 1.4rem;
  clear: both;
  font-size: .7rem;
  font-weight: normal;
  max-height: .8rem;
  overflow-y: hidden;
  position: relative;
}

.light-name:hover {
  text-decoration: underline;
}

.blue {
  background-color: darkgreen;
}

.blue_anime {
  /* Standard syntax */
  animation: animate_green 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  -webkit-animation: animate_green 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}

.red {
  background-color: darkred;
}

.red_anime {
  /* Standard syntax */
  animation: animate_red 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  -webkit-animation: animate_red 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}

.aborted {
  background-color: grey;
}

.aborted_anime {
  /* Standard syntax */
  animation: animate_grey 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  -webkit-animation: animate_grey 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animate_red {
  from {background-color: red;}
  to {background: darkred;}
}

@-webkit-keyframes animate_green {
  from {background-color: limegreen;}
  to {background: darkgreen;}
}

@-webkit-keyframes animate_grey {
  from {background-color: lightgrey;}
  to {background: grey;}
}

/* Standard syntax */
@keyframes animate_red {
  from {background-color: red;}
  to {background-color: darkred;}
}

@keyframes animate_green {
  from {background-color: limegreen;}
  to {background-color: darkgreen;}
}

@keyframes animate_grey {
  from {background-color: lightgrey;}
  to {background-color: grey;}
}

.grey {
  background-color: grey;
}

html {
  background-color: #2C2C2C;
  color: white;
  font-family: 'Open Sans', Verdana, Helvetica;
  text-align:center;
}

.oneColumn {
  display: inline-block;
  width: 100%;
}

.twoColumn {
  display: inline-block;
  width: 50%;
}

.threeColumn {
  display: inline-block;
  width: 33.33333333%;
}

.fourColumn {
  display: inline-block;
  width: 25%;
}