.light {
  border-radius: .8rem;
  list-style: none;
  margin: 1rem;
  min-height: 4rem;
  padding: 1rem;
}

.light-stat {
  bottom: -1.5rem;
  font-size: 1.2rem;
  opacity: .3;
  position: relative;
}

.link {
  color:white;
  display: block;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.build-duration {
  float: right;
}

.build-number {
  float: left;
}

.light-name:hover {
  text-decoration: underline;
}

.blue {
  background-color: darkgreen;
}

.blue_anime {
  /* Chrome, Safari, Opera */
  -webkit-animation: animate_green 1s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  /* Standard syntax */
  animation: animate_green 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.red {
  background-color: darkred;
}

.red_anime {
  /* Chrome, Safari, Opera */
  -webkit-animation: animate_red 1s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  /* Standard syntax */
  animation: animate_red 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animate_red {
  from {background-color: red;}
  to {background: darkred;}
}

@-webkit-keyframes animate_green {
  from {background-color: limegreen;}
  to {background: darkgreen;}
}

/* Standard syntax */
@keyframes animate_red {
  from {background-color: red;}
  to {background-color: darkred;}
}

@keyframes animate_green {
  from {background-color: limegreen;}
  to {background-color: darkgreen;}
}

.grey {
  background-color: grey;
}

html {
  background-color: #2C2C2C;
  color: white;
  text-align:center;
}
